.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.dropzone.dragging {
  background-color: #f0f0f0;
}

.dropzone input[type="file"] {
  display: none;
}

.dropzone p {
  margin: 0;
  font-size: 16px;
  color: grey;
}

.dropzone h3 {
  margin-top: 20px;
  font-size: 18px;
}

.dropzone ul {
  list-style: none;
  padding: 0;
}

.dropzone li {
  font-size: 16px;
  color: grey;
}

.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.upload-dropzone:hover {
  background-color: #f0f0f0;
}

.uploadButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #53c28b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.uploadButton:hover {
  background-color: #22c690;
}
