.button {
  padding:10px 40px;
  cursor:pointer;
  background-color:#53c28b;
  border:none;
  cursor: pointer;
  border-radius: 5px;
  width: max-content;
  color:white;
}

.button:hover {
  background-color: #89cf9e;
}
