.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.title {
  color: #bbb;
  font-size: 24px;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  color: #bbb;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 5px;
  outline: none;
  color: #bbb;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
}
.linkButton{
  border: none;
  background: none;
  color: #53c28b;
  font-size: 14px;
  cursor: pointer;
}
.linkButton:hover {
  color: rgb(61, 61, 61);
}
.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
}

.button {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}

.button:hover {
  background-color: #49b07d;
}

.or {
  color: #bbb;
  text-align: center;
}

.link {
 font-size: 14px;
 text-decoration: none;
 color: #53c28b;
}

.link:hover {
  color: rgb(61, 61, 61);
}
.roleSwitch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.roleSwitch label {
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}

.roleSwitch input[type="radio"] {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 18px;
  }

  .input {
    padding: 15px;
    font-size: 12px;
  }

  .button {
    padding: 15px;
    font-size: 14px;
  }
    .roleSwitch {
    flex-direction: column;
  }

  .roleSwitch label {
    margin: 10px 0;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .subtitle {
    font-size: 16px;
  }

  .input {
    padding: 10px;
    font-size: 12px;
  }

  .button {
    padding: 10px;
    font-size: 12px;
  }
    .roleSwitch label {
    font-size: 12px;
  }
}
