.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  margin-right: 10px;
}

.logoText {
  font-size: 1.5rem;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 1rem;
}

.link {
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}



@media (max-width: 768px) {
  .linkText {
    display: none;
  }

  .link {
    font-size: 1rem;
    margin-left: 10px;
    
  }

  .link .fa-icon {
    font-size: 1rem;
    color: #00c7b7; 
  }

.fa-icon {
  color: #00c7b7; 
  margin-right: 5px;
}


  .logoText {
    display: none;
  }
}
