.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoImage {
  margin-right: 10px;
}

.logoText {
  font-size: 1.5rem;
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 1rem;
}

.link {
  margin-left: 20px;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.link:hover{
  border: 1px solid transparent;
  background-color:#00c7b7;
  padding: 0.4rem 0.8rem;
  border-radius:4px;
  cursor: pointer;
}
.link:focus{
  border: 1px solid transparent;
  background-color:#53c28b;
  padding: 0.5rem 1.2rem;
  border-radius:4px;
  color:white;
}

@media (max-width: 768px) {
  .linkText {
    display: block;
  }

  .link {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 0.8rem;
    margin-left: 10px;
    
  }

  .link .fa-icon {
    font-size: 1rem;
    color: #00c7b7; 
  }

.fa-icon {
  color: #00c7b7; 
  margin-right: 5px;
}


  .logoText {
    display: none;
  }
}
